
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #07f;
  --destaque-inverso: #6bf;
  --fundo-card: #fff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}

#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
}

#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  transition: 0.5s;
}